<div class="mt-3 col-lg-6 col-xl-4">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Manage entities</h5>
			<p class="card-subtitle text-muted"><small>List/Edit/Delete items of selected category</small></p>
		</div>

		<ul class="list-group list-group-flush">
			<a class="list-group-item list-group-item-action" routerLink="customers">Customers</a>
			<a class="list-group-item list-group-item-action" routerLink="depots">Depots</a>
			<a class="list-group-item list-group-item-action" routerLink="vehicles">Vehicles</a>
		</ul>
	</div>
</div>