<ci-pageable-list class="ci-vehicle-list"
				  [items]="items$ | async"
				  [itemTemplate]="itemTemplate"
				  [trackByFn]="trackByFn"
				  [selectable]="selectable"
				  [selected]="selected"
				  [actualPage]="actualPage$ | async"
				  [itemsCount]="totalItems$ | async"
				  [totalPages]="totalPages$ | async"
				  [pageSize]="pageSize$ | async"
				  [pageRangeWidth]="3"
				  (pageChange)="onPageChange($event)"
				  (pageSizeChange)="onPageSizeChange($event)"
				  (itemClick)="itemClick.emit($event)"
				  (selectionChange)="selectionChange.emit($event)"
></ci-pageable-list>
