<form class="require-new-password-form mt-5 mx-auto" [formGroup]="form">
	<div class="form-header p-3">
		<div class="avatar d-flex justify-content-center mt-1">
			<fa-icon [icon]="userEditIcon" size="4x" class="ml-2"></fa-icon>
		</div>
		<h4 class="modal-title mt-2 text-center">Modifications needed</h4>
	</div>

	<div class="inputs p-4">

		<div class="form-group">
			<input formControlName="password" type="password" class="form-control"
				   placeholder="New password" required="required" autocomplete="off">
		</div>


		<div class="required-fields" formArrayName="attributes">
			<ng-container *ngFor="let attribute of attributes">
				<div class="form-group">
					<input [formControlName]="attribute.field" type="text" class="form-control"
						   [attr.placeholder]="attribute.label" required="required" autocomplete="off">
				</div>
			</ng-container>
		</div>

		<button class="btn btn-primary btn-lg btn-block" (click)="onSubmit()" [disabled]="!isFormValid">Save</button>
	</div>
</form>