<form [formGroup]="depotForm" class="p-3">
	<ci-common-crud-form-actions
			[deletable]="isDeletable"
			[savable]="isSavable"
			(save)="onSave()"
			(reset)="onReset()"
			(delete)="delete.emit(depot)">
	</ci-common-crud-form-actions>

	<input type="hidden" formControlName="id">

	<div class="form-group">
		<label for="depotName">Name</label>
		<input id="depotName" formControlName="name" type="text" class="form-control" placeholder="Enter depot name">
	</div>

	<div>
		<h6>Assigned vehicles:</h6>
		<div *ngIf="hasVehicles" class="list-group list-group-flush">
			<a *ngFor="let v of depot.vehicles" class="list-group-item list-group-item-action" routerLink="../vehicles" [queryParams]="{id: v.id}">
				{{v.licencePlate}}
			</a>
		</div>
		<p *ngIf="!hasVehicles">No vehicle assigned</p>
	</div>
</form>