<form [formGroup]="vehicleForm" class="p-3">
	<ci-crud-form-actions
			[deletable]="isDeletable"
			[savable]="isSavable"
			(save)="onSave()"
			(reset)="onReset()"
			(delete)="delete.emit(vehicle)">
	</ci-crud-form-actions>

	<input type="hidden" formControlName="id">

	<div class="form-group">
		<label>
			Depot
			<small>
				<a *ngIf="vehicle?.depot" routerLink="../depots" [queryParams]="{id: vehicle.depot.id}">Jump to</a>
			</small>
		</label>

		<ci-dropdown-search formControlName="depot" displayKey="name"
							[results]="depotSearchResult$|async"
							(search)="onDepotSearch($event)">
		</ci-dropdown-search>
	</div>

	<div class="form-group">
		<label for="licencePlate">Licence plate</label>
		<input id="licencePlate" formControlName="licencePlate" type="text" class="form-control" placeholder="Enter licence plate">
	</div>
</form>
