<div class="mt-3 ml-3">
	<ci-master-detail
			[listItemTemplate]="vehicleItemTpl"
			[listTrackByFn]="listItemTrackByFn"
			[selected]="detailsItem$ | async"
			[detailsItem]="detailsItem$ | async"
			[detailsTemplate]="vehicleDetailsTpl"
			[queryText]="queryText$ | async"
			(selectionChange)="onSelectionChange($event)"
			(filter)="onFilter($event)"
			(new)="onNew()"
	></ci-master-detail>
</div>

<ng-template #vehicleItemTpl let-vehicle let-isSelected="isSelected">
	<label [ngClass]="{ 'font-weight-bold': isSelected }">{{vehicle.licencePlate}}</label>
	<span class="badge badge-pill badge-info ml-2">{{vehicle?.depot?.name}}</span>
</ng-template>

<ng-template #vehicleDetailsTpl let-vehicle>
	<ci-vehicle-edit-form [vehicle]="vehicle" (save)="onSave($event)" (delete)="onDelete($event)"></ci-vehicle-edit-form>
</ng-template>

<ci-loading-overlay *ngIf="isLoading$ | async"></ci-loading-overlay>
