<div class="searchable-dropdown dropdown" (keyup.esc)="onClose()">
	<button class="btn btn-outline-input dropdown-button" type="button" (click)="onToggleOpen()">
		<span class="selected-text">{{ selected ? getDisplayValueFrom( selected ) : 'Please select' }}</span>
		<fa-icon [icon]="caretDownIcon"></fa-icon>
	</button>

	<div class="dropdown-menu" [class.show]="isOpen">
		<div class="input-group input-group-sm">
			<div class="input-group-prepend">
				<span class="input-group-text"><fa-icon [icon]="searchIcon"></fa-icon></span>
			</div>
			<input #searchInput type="text" class="form-control" placeholder="Search" aria-label="Search" autocomplete="off"
				   (keyup)="onSearchChange( searchInput.value )">
		</div>

		<div class="dropdown-divider"></div>

		<div class="result-list">
			<ng-container *ngIf="removeButtonVisible" >
				<button class="dropdown-item remove-button" type="button" (click)="onRemove()">Unselect</button>
				<div class="dropdown-divider"></div>
			</ng-container>


			<ng-container *ngIf="results?.length > 0; else noResultsFound">
				<button class="dropdown-item" type="button" *ngFor="let result of results" (click)="onSelect( result )">
					{{ getDisplayValueFrom( result ) }}
				</button>
			</ng-container>

			<ng-template #noResultsFound>
				<small>No items found</small>
			</ng-template>
		</div>
	</div>
</div>
