@import "~bootstrap/scss/bootstrap";

.searchable-dropdown {
  .dropdown-button {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border: $input-border-width solid $input-border-color;

	.selected-text {
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	}
  }

  .dropdown-menu {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	width: 100%;
	margin-bottom: 3.5rem;

	.result-list {
	  overflow-y: auto;
	  max-height: 12rem;

	  .dropdown-item {
		overflow-x: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
	  }
	}
  }
}
