<div class="mt-3 ml-3">
	<ci-master-detail
			[listItemTemplate]="depotItemTpl"
			[listTrackByFn]="depotTrackByFn"
			[selected]="depotDetailsItem$ | async"
			[detailsItem]="depotDetailsItem$ | async"
			[detailsTemplate]="depotDetailsTpl"
			[queryText]="queryText$ | async"
			(selectionChange)="onSelectionChange($event)"
			(filter)="onFilter($event)"
			(new)="onNew()"
	></ci-master-detail>
</div>

<ng-template #depotItemTpl let-depot let-isSelected="isSelected">
	<label [ngClass]="{ 'font-weight-bold': isSelected }">{{depot.name}}</label>
	<span class="badge badge-pill badge-info ml-2">{{depot?.vehicleCount || 0}} vehicle(s)</span>
</ng-template>

<ng-template #depotDetailsTpl let-depot>
	<ci-depot-edit-form [depot]="depot" (save)="onSave($event)" (delete)="onDelete($event)"></ci-depot-edit-form>
</ng-template>

<ci-loading-overlay *ngIf="isLoading$ | async"></ci-loading-overlay>
